* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1em;
  color: white;
}

section {
  padding: 60px 0;
}

.content {
  width: 80%;
}

.section-header {
  text-align: center;
}

.section-title {
  text-transform: uppercase;
  letter-spacing: 2px;
}

.section-subtext {
  padding-top: 10px;
  padding-bottom: 50px;
  font-size: 1.1em;
}

hr {
  border: 2px solid #2c2a3f;
}

.fullscreen-header {
  height: 100vh;
  background-color: #86509c;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.navbar {
  width: 100%;
  background-color: inherit;
  display: flex;
  justify-content: space-between;
}
.logo-area {
  padding: 5px 30px;
}
.logo {
  font-size: 2.5em;
  font-family: monaco, monospace;
  color: white;
  text-decoration: none;
  font-weight: 900;
}

.active {
  background-color: #643a7a;
  border-radius: 5px;
}

.menu {
  display: flex;
  align-items: center;
  overflow-x: auto;
}

.menu a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  display: inline-block;
  padding: 12px;
}
.menu a:hover {
  background-color: #643a7a;
  border-radius: 5px;
}
.text-area {
  text-align: center;
}
.text-area h1 {
  font-size: 2em;
}
.services-btn {
  padding: 40px;
  animation: 0.7s goBuddy forwards;
  animation-delay: 1.2s;
  visibility: hidden;
}

@keyframes goBuddy {
  0% {
    visibility: hidden;
  }
  50% {
    padding-bottom: 150px;
    visibility: visible;
  }
  100% {
    padding: 40px;
    visibility: visible;
  }
}

.services-btn a {
  padding: 17px 50px;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.1em;
  color: black;
  background-color: #ec7c4a;
  border-radius: 6px;
  border: none;
  box-shadow: 0px 1px 1px black;
  cursor: pointer;
}
.services-btn a:hover {
  filter: contrast(2);
  box-shadow: none;
}

.services {
  background-color: #17c1a4;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.row {
  display: flex;
  flex-wrap: wrap;
}
.col {
  width: 200px;
  padding: 10px 20px;
  text-align: center;
}

.col img {
  width: 100px;
}

.team {
  color: black;
  background-color: #e8f1f8;
}
.team .content {
  color: #2c2a3f;
}
.team-col img {
  border-radius: 50%;
  width: 120px;
  height: 120px;
}
.team-col i {
  padding: 0 5px;
  cursor: pointer;
}
.teams h3 {
  font-weight: normal;
  padding: 5px 0;
  text-transform: uppercase;
  color: #2c2a3f;
}
.teams label {
  font-size: 0.8em;
  font-weight: bold;
  color: black;
}
.teams label::before {
  content: "[";
  font-size: larger;
}
.teams label::after {
  content: "]";
  font-size: larger;
}
.teams p {
  padding: 10px;
  font-size: 0.8em;
  color: #6b6b6b;
}

.skill {
  color: #878787;
  background: #fff;
  width: 100%;
  height: 413px;
}
i {
  font-size: 20px;
  margin: 1px;
}
footer {
  text-align: center;
  background-color: #86509c;
  color: #fff;
  width: 100%;
  height: 35px;
  line-height: 20px;
  overflow: hidden;
}
footer p {
  font-family: sans-serif;
  font-size: 12px;
}
footer a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}
